.auto_complete{
  text-align: left;
}

ul.payers{
  display: block;
}

#homeButton{
  left:: 6px;
  right: auto;
  padding: 0;
  max-width: 55px;
  border-width: 0 8px 0 14px;
  -webkit-border-image: url(/images/iui/backButton.png) 0 8 0 14;
}