body {
  background-color: #ffffff;
  color: #222222;
  font-family: verdana;
  font-size: 16px; }

a {
  color: #00aeff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: 0px; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

.no_icon {
  padding-left: 20px; }

.user {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/user.png'); }

.user_add {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/user_add.png'); }

.group {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/group.png'); }

.user_add {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/user_add.png'); }

.tick {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/tick.png'); }

.cross {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/cross.png'); }

.total {
  padding-left: 10px;
  border-top: 1px solid;
  border-bottom: 3px double; }

.right {
  text-align: right; }

ul.no_list {
  margin: 0px;
  padding: 0px;
  list-style: none; }

ul.payments {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.payments li {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-image: url('/images/icons/coins.png'); }

ul.depts, ul.credits {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.depts li,   ul.credits li {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-image: url('/images/icons/money.png'); }

#container {
  margin: 0 auto;
  width: 800px;
  padding: 20px; }

#content {
  padding: 10px;
  background-color: #efefef;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px; }
  #content h1 {
    font-size: 26px;
    font-weight: bold; }

#header {
  padding: 10px;
  background-color: #efefef;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-topleft: 30px; }
  #header #user {
    height: 103px; }
  #header #title {
    float: left; }
  #header #error {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-image: url('/images/icons/exclamation.png');
    border: 2px solid #FFBBBB;
    font-weight: bold;
    clear: both; }
  #header #notice {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-image: url('/images/icons/information.png');
    border: 2px solid #CCCCFF;
    clear: both; }
  #header #menu {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #header #menu li {
      float: left;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 2px solid #DDDDDD; }

#footer {
  padding-left: 30px;
  color: #777777;
  font-size: 12px; }

.group {
  margin-bottom: 5px;
  border-bottom: 1px solid; }
  .group #name {
    font-weight: bold; }

.hidden {
  display: none; }

div.auto_complete {
  width: 350px;
  background: #FFFFFF; }

div.auto_complete ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px solid #888;
  width: 100%; }

div.auto_complete ul li {
  margin: 0;
  padding: 3px; }

div.auto_complete ul li.selected {
  background-color: #FFFF99;
  color: #4D4D4D; }

div.auto_complete ul strong.highlight {
  color: #800;
  margin: 0;
  padding: 0; }

ul.payers {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block; }
  ul.payers li {
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid #888;
    background-color: #FFFF99; }
