body {
  background-color: #ffffff;
  background-image: url('/images/bg.png');
  color: #222222;
  font-family: verdana;
  font-size: 16px; }

a {
  color: #890000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: 0px; }

hr {
  color: #222222; }

.fieldWithErrors {
  padding: 2px;
  background-color: #d02020;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid #d02020;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #c0b686; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c09186;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square; }

.no_icon {
  padding-left: 20px; }

.user {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/user.png'); }

.user_add {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/user_add.png'); }

.group {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/group.png'); }

.user_add {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/user_add.png'); }

.tick {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/tick.png'); }

.cross {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/cross.png'); }

.home {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/house.png'); }

.bill {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/script.png'); }

.bill_add {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/script_add.png'); }

.transfer {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/arrow_refresh.png'); }

.transfer_add {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/transfer_add.png'); }

.total {
  padding-left: 10px;
  border-top: 1px solid;
  border-bottom: 3px double; }

.hidden {
  display: none; }

.right {
  text-align: right; }

ul.no_list {
  margin: 0px;
  padding: 0px;
  list-style: none; }

ul.payments {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.payments li {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-image: url('/images/icons/coins.png'); }

ul.depts, ul.credits {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.depts li,   ul.credits li {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-image: url('/images/icons/money.png'); }

#container {
  margin: 0 auto;
  width: 800px;
  padding: 20px; }

#content {
  padding: 10px 10px 30px;
  background-color: #c2d197;
  border-left: 2px solid #9cb16a;
  border-right: 2px solid #9cb16a; }
  #content h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0; }
  #content h2 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 0; }
  #content h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px; }
  #content hr {
    border: 1px solid #9cb16a; }

#error {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/exclamation.png');
  background-color: #c0b686;
  font-weight: bold;
  background-position: 10px;
  padding-left: 40px !important;
  border-left: 2px solid #9cb16a;
  border-right: 2px solid #9cb16a; }

#notice {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-image: url('/images/icons/information.png');
  background-color: #b1c086;
  font-weight: bold;
  background-position: 10px;
  padding-left: 40px !important;
  border-left: 2px solid #9cb16a;
  border-right: 2px solid #9cb16a; }

#header {
  padding: 10px;
  background-color: #9cb16a;
  -moz-border-radius-topright: 30px; }
  #header #user {
    height: 88px; }
  #header #title {
    float: left;
    position: relative;
    top: -33px;
    left: -31px;
    height: 87px;
    width: 629px; }
  #header #menu {
    height: 21px; }
    #header #menu ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      #header #menu ul li {
        float: left;
        margin-right: 10px;
        padding-right: 10px; }
        #header #menu ul li a:hover {
          text-decoration: none;
          border-color: #9e0c09;
          border-top: 1px solid;
          border-bottom: 1px solid; }

#footer {
  padding: 5px;
  height: 90px;
  color: #777777;
  padding-left: 10px;
  background-color: #9cb16a;
  font-size: 12px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px; }
  #footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 33%; }
    #footer ul li.title {
      font-weight: bold;
      color: #666666; }
  #footer a {
    color: #777777; }

div.auto_complete {
  width: 350px;
  background: #FFFFFF; }

div.auto_complete ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px solid #888;
  width: 100%; }

div.auto_complete ul li {
  margin: 0;
  padding: 3px; }

div.auto_complete ul li.selected {
  background-color: #FFFF99;
  color: #4D4D4D; }

div.auto_complete ul strong.highlight {
  color: #800;
  margin: 0;
  padding: 0; }

ul.payers {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block; }
  ul.payers li {
    padding: 2px;
    margin-bottom: 2px;
    border: 1px solid #888;
    background-color: #FFFF99; }
