.title {
  background-color: #9cb16a;
  padding-left: 5px; }

body {
  background-color: #ffffff;
  background-image: url('/images/bg.png');
  color: #222222;
  font-family: verdana;
  font-size: 16px; }

a {
  color: #890000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: 0px; }

hr {
  color: #222222; }

.fieldWithErrors {
  padding: 2px;
  background-color: #d02020;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid #d02020;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #c0b686; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c09186;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square; }

.total {
  padding-left: 10px;
  border-top: 1px solid;
  border-bottom: 3px double; }

.link {
  cursor: pointer;
  color: #890000; }

.darker {
  background-color: #adc27b; }

.time {
  font-size: 12px;
  color: #777777; }

ul.no_list {
  margin: 0px;
  padding: 0px;
  list-style: none; }

ul.transfers {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 450px; }
  ul.transfers li {
    height: 25px; }
    ul.transfers li .transfer_time {
      float: right; }

ul.bills {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.bills li {
    height: 25px; }
    ul.bills li .bill_name {
      width: 450px;
      float: left;
      overflow: hidden; }
    ul.bills li .bill_amount {
      width: 150px;
      float: left;
      overflow: hidden;
      text-align: right;
      padding-left: 3px; }
    ul.bills li .bill_time {
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 15px; }
    ul.bills li .bill_delete {
      float: right; }

td {
  padding: 5px; }

ul.payments {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.payments li {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-position: 0 50%;
    background-image: url('/images/icons/coins.png'); }

ul.depts, ul.credits {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul.depts li,   ul.credits li {
    background-repeat: no-repeat;
    padding-left: 20px !important;
    background-position: 0 50%;
    background-image: url('/images/icons/money.png'); }

.no_spacing {
  border-spacing: 0px; }

#container {
  margin: 0 auto;
  width: 800px;
  padding: 20px; }

#content {
  padding: 10px 10px 30px;
  background-color: #c2d197;
  border-left: 2px solid #9cb16a;
  border-right: 2px solid #9cb16a; }
  #content h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0; }
  #content h2 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 0; }
  #content h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px; }
  #content hr {
    border: 1px solid #9cb16a; }

#error {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-position: 0 50%;
  background-image: url('/images/icons/exclamation.png');
  background-color: #c0b686;
  font-weight: bold;
  background-position: 10px;
  padding-left: 40px !important;
  border-left: 2px solid #9cb16a;
  border-right: 2px solid #9cb16a; }

#notice {
  background-repeat: no-repeat;
  padding-left: 20px !important;
  background-position: 0 50%;
  background-image: url('/images/icons/information.png');
  background-color: #b1c086;
  font-weight: bold;
  background-position: 10px;
  padding-left: 40px !important;
  border-left: 2px solid #9cb16a;
  border-right: 2px solid #9cb16a; }

#header {
  padding: 10px;
  background-color: #9cb16a;
  -moz-border-radius-topright: 30px; }
  #header #user {
    height: 88px; }
  #header #title {
    float: left;
    position: relative;
    top: -33px;
    left: -31px;
    height: 87px;
    width: 629px; }
  #header #menu {
    height: 21px; }
    #header #menu ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      #header #menu ul li {
        float: left;
        margin-right: 10px;
        padding-right: 10px; }
        #header #menu ul li a:hover {
          text-decoration: none;
          border-color: #9e0c09;
          border-top: 1px solid;
          border-bottom: 1px solid; }

#footer {
  padding: 5px;
  height: 90px;
  color: #777777;
  padding-left: 10px;
  background-color: #9cb16a;
  font-size: 12px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px; }
  #footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    width: 33%; }
    #footer ul li.title {
      font-weight: bold;
      color: #666666; }
  #footer a {
    color: #777777; }

#logs ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

#activities {
  border: 2px solid #9cb16a;
  margin-left: 10px;
  float: right;
  width: 200px; }
  #activities .feed {
    float: right; }

.activities {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .activities li {
    padding-right: 5px; }

.form ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .form ul li {
    padding-bottom: 10px; }

#additions ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  #additions ul li {
    background-position: 0 2px; }
