%li{:class=>toggling_class("darker")}
  - if bill.creator == current_user
    %span.bill_delete
      = link_to '', bill, :confirm => 'Are you sure?', :method => :delete, :class => 'bullet_delete'
  %span.bill_name
    = link_to h(bill.name), bill
  %span.time.bill_time
    =bill.created_at.to_s :short
