%h1
  Bills

= link_to 'New bill', new_bill_path, :class => 'bill_add'
%br
%hr

%h3 open
%ul.bills
  = render :partial => 'bill', :collection => @open_bills

%br
%hr

%h3 closed
%ul.bills
  = render :partial => 'bill', :collection => @closed_bills
