%h1 welcome

The floating bill is a tool to manage bills and money with friends and flat mates
%br
%br
Features:
%ul
  %li
    Easy handling for bills that you have to split
  %li
    See how much money you spend together and for what
  %li
    Watch your outstanding debts
