%h1 welcome to The Floating Bill

The Floating Bill is a tool to manage bills and money with friends and flat mates
%br
%br
Features:
%ul
  %li
    %strong
      Handle
    the bills that you have to split in a fast and easy way
  %li
    %strong
      Monitor
    your outstanding debts and credits
  %li
    %strong
      Be aware
    of how much money you spend and for what
  %li
    And last but not least: it's
    %strong
      free
