%h1
  Privacy Policy

Privacy is fundamental to The Floating Bill.
%p
  We don't share your private information with advertisers or third parties. This
  includes your email address and your personal information.

%h2
  Information we collect

%p
  %strong
    User-Provided information:
  We collect the Information about yourself, such as
  e-mail address when you register.
%p
  %strong
    Log Information:
  We store the access to our webserver.
