%h1 Terms of Use Agreement

This Agreement was last revised on December 02, 2008.
%p

  Welcome to FloatingBill.com, a website and online service owned and operated
  by Mordaroso ProgTHE FLOATING BILLramming. ("Mordaroso" "we," or "us"). This page explains the
  terms by which you may use our service. By accessing or using the FloatingBill
  services, website, applications and software provided through or in connection
  with the service, including through a mobile device ("Service"), you signify
  that you have read, understood, and agree to be bound by this Terms of Use
  Agreement ("Agreement"), whether or not you are a registered user of our
  Service.
%p
  We reserve the right to amend this Agreement at any time.
  If we do this, we will post the amended Agreement on this page and indicate at
  the top of the page the date the Agreement was last revised. Your continued
  use of the Service after any such changes constitutes your acceptance of the
  new Terms of Use. If you do not agree to any of these terms or any future
  Terms of Use, do not use or access (or continue to access) the Service. This
  Agreement applies to all visitors, users, and others who access the Service
  ("Users").

%h2
  No Warranty
%p
  THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. USE OF THE
  SERVICE IS AT YOUR OWN RISK. THE SERVICE IS PROVIDED WITHOUT WARRANTIES OF ANY
  KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED
  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
  NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, THE FLOATING BILL, ITS SUBSIDIARIES,
  AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT IS ACCURATE, RELIABLE OR
  CORRECT; THAT THE SERVICE WILL MEET YOUR REQUIREMENTS; THAT THE SERVICE WILL
  BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, UNINTERRUPTED OR SECURE; THAT
  ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE SERVICE IS FREE OF
  VIRUSES OR OTHER HARMFUL COMPONENTS. ANY CONTENT DOWNLOADED OR OTHERWISE
  OBTAINED THROUGH THE USE OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU
  WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF
  DATA THAT RESULTS FROM SUCH DOWNLOAD.

%p
  THE FLOATING BILL DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY
  FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE
  THE FLOATING BILL SERVICE OR ANY HYPERLINKED WEBSITE OR SERVICE, OR FEATURED IN ANY
  BANNER OR OTHER ADVERTISING, AND THE FLOATING BILL WILL NOT BE A PARTY TO OR IN ANY WAY
  MONITOR ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR
  SERVICES.
