%h1
  Transfers

= link_to 'New transfer', new_transfer_path, :class => 'transfer_add'
%br
%hr

%h3 open
%ul.transfers
  = render :partial => 'transfer', :collection => @open_transfers

%br
%hr

%h3 closed
%ul.transfers
  = render :partial => 'transfer', :collection => @closed_transfers
