%h1
  Transfers

= link_to 'New transfer', new_transfer_path, :class => 'transfer_add'
%br

%h3 open
= render :partial => 'transfer', :collection => @open_transfers

%h3 closed
= render :partial => 'transfer', :collection => @closed_transfers
